body{
    background-color: #e6e0d2;
}

.drops{
    display: none;
}

.drops_file{
    display: none;
}

.card {
    height: 450px;
    background-color: #bdaebd9e;
    transition: 1s all;

    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.general{
    .row{
        --bs-gutter-x: 0;
    }

    .contant{
        h1{
            margin-top: 20px;
            color: #060606;
        }

        h2{
            color: #060606;
            margin-bottom: 30px;
        }

        .file_stat{
            text-align-last: center;
        }

        .buttons-collapse{
            .btn-primary{
                width: 30%;

                &:focus{
                    box-shadow: none;
                }
            }
        }

        .collapse{
            h3{
                color: #000000;
                height: 300px;
            }

            .btn-primary{
                width: 70%;
                margin: 3px auto;
            }
        }
    }
}

.table{
    thead{
        tr{
            th{
                font-size: 22px;
            }
        }
    }

    a{
        text-decoration: none;
        transition: 1s all;

        &:hover{
            color: #dc0606;
            text-shadow: 1px 1px 2px black;
        }
    }
}

.gn{
    color: #ff0cec;
    font-size: 25px;
    font-weight: 800;
}

.gb{
    color: #211ef1;;
    font-size: 25px;
    font-weight: 800;
}

.gc{
    color: red;
    font-size: 25px;
    font-weight: 800;
}

.max{
    background-color: #38e638;
}

.genPage{
    font-size: 20px;
    color: #002bff;
}


.profile{
    border: 2px solid;
    background-color: gray;
    border-radius: 70px;

    h2{
        font-size: 25px;
        font-weight: 900;
        color: #921442;
    }

    img{
        border-radius: 175px;
        margin-bottom: 20px;
        height: 250px;
    }

    p{
        font-size: 20px;
        color: #38e638;
    }

    .block{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        span{
            color: blue;
            font-size: 20px;
        }
    }

    .real_money{
        margin-bottom: 20px;
        
        h3{
            color: #5b38e6;
        }

        h4{
            color: #5b38e6;
            font-size: 15px;
        }

        p{
            font-size: 12px;
            color: #e6b838;
            width: 80%;
            margin: 0 auto;
        }
    }
}